---json
{
  "layout": "shop-page.njk"
}
---
<!--Product starts here-->
<div class="productpage-section-contents product-page p-3">

  <!--Product Header-->
  <div class="row mb-4">
    <div class="col-lg-8">
      <div class="productpage-section-contents-header">
        <img class="product-image" style="width: 8rem" src="{{image}}" alt="">
        <div class="shop-section-contents-header-side row">
          <h1 class="product-name">{{title | safe}}</h1>
          <p class="product-summary" style="font-size: 1.5rem;">{{description | safe}}</p>
          <p class="product-version">Current Version: {{version | safe}}</p>
        </div>
      </div>
    </div>
    <div style="background-color: rgba(240, 255, 245, 0.491); border-radius: 1rem;"
                                class="col-lg-4 d-flex justify-content-end align-items-center">
      <div style="max-width: 15rem; padding: 1rem;">
                                    Payment is done through <em>
          <a href="https://itch.io">itch.io</a>
        </em> ! It is
                                    highly recommended to make an account to save your purchases!
                                </div>
      <div class="text-center 
                                    d-flex flex-column 
                                    justify-content-evenly 
                                    align-items-center">
        <h5 class="">Price:</h5>
        <h4 style="font-size: 3rem;" class="product-price">{{price | safe}}</h4>
        <button style="width: 5rem; height: 2rem;"
                                        class="button btn btn-primary download-button">Download</button>
      </div>
    </div>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button onclick='removeHash()' class="nav-link active" id="overview-tab"
                                    data-bs-target="#overview" type="button" role="tab" aria-controls="overview"
                                    aria-selected="true">Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button onclick='window.location.hash = "setup"' class="nav-link" id="setup-tab"
                                    data-bs-target="#setup" type="button" role="tab" aria-controls="setup"
                                    aria-selected="false">Setup</button>
    </li>
    <li class="nav-item" role="presentation">
      <button onclick='window.location.hash = "documentation"' class="nav-link"
                                    id="documentation-tab" data-bs-target="#documentation" type="button" role="tab"
                                    aria-controls="documentation" aria-selected="false">Documentation</button>
    </li>
    <li class="nav-item" role="presentation">
      <button onclick='window.location.hash = "tutorials"' class="nav-link" id="tutorials-tab"
                                    data-bs-target="#tutorials" type="button" role="tab" aria-controls="tutorials"
                                    aria-selected="false">Tutorials</button>
    </li>
    <li class="nav-item" role="presentation">
      <button onclick='window.location.hash = "troubleshooting"' class="nav-link"
                                    id="troubleshooting-tab" data-bs-target="#troubleshooting" type="button" role="tab"
                                    aria-controls="troubleshooting" aria-selected="false">Troubleshooting</button>
    </li>
    <li class="nav-item" role="presentation">
      <button onclick='window.location.hash = "patchnotes"' class="nav-link"
                                    id="patchnotes-tab" data-bs-target="#patchnotes" type="button" role="tab"
                                    aria-controls="patchnotes" aria-selected="false">Patch notes</button>
    </li>
  </ul>
  <!--Product Body-->
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="row">
        <div class="col-xl-7 col-lg-12 productpage-section-contents-body">
          <!--Overview start-->
          {{ content | splitContent(0) | safe }}
          <!--Overview end-->
        </div>
      </div>
    </div>
    <div class="tab-pane" id="setup" role="tabpanel" aria-labelledby="setup-tab">
      <div class="row">
        <div class="col-lg-12 productpage-section-contents-body">
          <!--Setup start-->
          {{ content | splitContent(1) | safe }}
          <!--Setup end-->
        </div>
      </div>
    </div>
    <div class="tab-pane" id="documentation" role="tabpanel"
                                aria-labelledby="documentation-tab">
      <div class="row productpage-section-contents-body">
        <div class="container">
                                        Visit the new Documentation page here!<br>
          <button onclick="window.location.href='./docs';" class="btn btn-primary">Documentation</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tutorials" role="tabpanel" aria-labelledby="tutorials-tab">
      <div class="row">
        <div style="gap: 1rem;" class="container-fluid productpage-section-contents-body d-flex flex-row flex-wrap">
          <!--Tutorials start-->
          {{ content | splitContent(2) | safe }}
          <!--Tutorials end-->
        </div>
      </div>
    </div>
    <div class="tab-pane" id="troubleshooting" role="tabpanel"
                                aria-labelledby="troubleshooting-tab">
      <div class="row">
        <div class="col-xl-9 col-lg-12 productpage-section-contents-body">
          <!--troubleshooting start-->
          {{ content | splitContent(3) | safe }}
          <!--troubleshooting end-->
        </div>
      </div>
    </div>
    <div class="tab-pane" id="patchnotes" role="tabpanel" aria-labelledby="patchnotes-tab">
      <div class="row">
        <div class="col-xl-9 col-lg-12 productpage-section-contents-body">
          <!--Patch notes start-->
          {{ content | splitContent(4) | safe }}
          <!--Patch notes end-->
        </div>
        <div class="col-xl-3 col-lg-12">
          <div
                                            class="sticky-xl-top productpage-section-contents-body productpage-section-contents-sidebar">
            <div class="productpage-section-contents-sidebar-body">
              <!--toc, to be auto genned-->
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--a padding div to fix scrolling on smaller sizes-->
    <div style="padding-bottom: 15rem;"></div>
  </div>
</div>
<!--Product ends here-->
<!-- Additional scripts specific to this page -->
{% block scripts %}
  <script type="text/javascript" src="https://static.itch.io/api.js"></script>
  <script>
    Itch.attachBuyButton(document.querySelector(".download-button"), {
      // replace the following with the correct information about your game
      user: "landie",
      game: `sammi-{{ underscoreTitle }}`
    });

    function removeHash() {
      history.pushState("", document.title, window.location.pathname + window.location.search);
    }
    window.addEventListener('hashchange', (e) => {
      goToLink();
      console.log(e)
    });
    setTimeout(goToLink, 5);

    function goToLink() {
      const target = window.location.hash;
      switch (target) {
        case '':
          //nothing, just not default case.
          break;
        case '#overview':
          document
            .querySelector("#overview-tab")
            .click();
          break;
        case '#setup':
          document
            .querySelector("#setup-tab")
            .click();
          break;
        case '#documentation':
          console.log("workie")
          document
            .querySelector("#documentation-tab")
            .click();
          break;
        case '#tutorials':
          console.log("workie")
          document
            .querySelector("#tutorials-tab")
            .click();
          break;
        case '#troubleshooting':
          document
            .querySelector("#troubleshooting-tab")
            .click();
          break;
        case '#patchnotes':
          document
            .querySelector("#patchnotes-tab")
            .click();
          break;
        default:
      }
      document
        .querySelector('.productpage-section-contents')
        .scroll(0, 0); //fixes scrolling issue when clicking on tabs
    }

    var triggerTabList = []
      .slice
      .call(document.querySelectorAll('#myTab button'))
    console.log(triggerTabList)
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)

      triggerEl.addEventListener('click', function (event) {
        event.preventDefault()
        event.stopImmediatePropagation();
        document
          .querySelector('.productpage-section-contents')
          .scroll(0, 0); //fixes scrolling issue when clicking on tabs
        tabTrigger.show()
      })
    })

    //* show modal

    // window.onload = () => {
    //      document.querySelector('#exampleModal').modal('show')
    //     const myModal = new bootstrap.Modal('#exampleModal', {
    //         keyboard: false,
    //         show: true
    //     })
    //     myModal.show();

    // }

    var tooltipTriggerList = []
      .slice
      .call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
{% endblock %}