---
layout: base.njk
styleOverride: styles-page.css
bodyOverride: body-blue page
---
<!--bg effects and decals-->
<div class="custom-background">
  <div class="floaties">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<p class="position-fixed" style="bottom: -10px; right: 10px;">I'm sorry, im new to making websites so some
        things
        may look off!</p>
<!--offcanvas-->
<div class="offcanvas offcanvas-start m-sm-0 m-md-4"
        style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.629); border: solid rgba(255, 255, 255, 0.384) 5px;"
        tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <a href="#bridge-and-you-">
      <h3>
        <strong>Bridge and You!</strong>
      </h3>
    </a>
    <a href="#path-structure">
      <h3>
        <strong>Path Structure</strong>
      </h3>
    </a>
    <ul>
      <li>
        <a href="#models">Models</a>
      </li>
      <li>
        <a href="#emotions">Emotions</a>
      </li>
      <li>
        <a href="#poses">Poses</a>
      </li>
      <ul>
        <li>
          <a href="#idling">Idling</a>
        </li>
        <li>
          <a href="#talking">Talking</a>
        </li>
        <li>
          <a href="#blinking">Blinking</a>
        </li>
        <li>
          <a href="#yelling">Yelling</a>
        </li>
      </ul>
      <li>
        <a href="#transitions">Transitions</a>
      </li>
      <ul>
        <li>
          <a href="#global-transitions">Global</a>
        </li>
        <li>
          <a href="#dynamic-transitions">Dynamic</a>
        </li>
      </ul>
      <li>
        <a href="#layers">Layers</a>
      </li>
      <li>
        <a href="#dynamic-lighting">Dynamic Lighting</a>
      </li>
      <ul>
        <li>
          <a href="#backlight">Backlight</a>
        </li>
        <li>
          <a href="#rimlight">Rimlight</a>
        </li>
      </ul>
  </ul>
  <a href="#sammi-commands">
    <h3>
      <strong>SAMMI Commands</strong>
    </h3>
  </a>
  <ul>
    <li>
      <a href="#landitube-change-model">LandiTube: Change Model</a>
    </li>
    <li>
      <a href="#landitube-change-emotion">LandiTube: Change
                        Emotion</a>
    </li>
    <li>
      <a href="#landitube-pause-engine">LandiTube: Pause Engine</a>
    </li>
    <li>
      <a href="#landitube-resume-engine">LandiTube: Resume Engine</a>
    </li>
  </ul>
  <a href="#custom-events-using-api">
    <h3>
      <strong>Custom Events using API</strong>
    </h3>
  </a>
  <ul>
    <li>
      <a href="#extension-triggers">Extension Triggers</a>
    </li>
  </ul>
</div>
</div>

<div class="inner-outline"></div>
<div class="center-wrapper d-flex justify-content-center align-items-center">

<div class="container-page">
  <!--sidebar canvas button, not in use atm-->
  <div class="sidebar-button position-fixed">
    <button type="button" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                    id="sidebar-button" class="button d-flex justify-content-center align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-list"
                        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
  </div>
  <div class="row">
    <div class="col-xl-2 col-lg-12 sidebar-nav">
      <div style="top: 2rem; width: 100%;"
                        class="sticky-xl-top productpage-section-contents-body productpage-section-contents-sidebar">
        <div class="productpage-section-contents-sidebar-body toc">
          <!-- toc start -->

          <!-- toc end -->
        </div>

      </div>
    </div>
    <div class="col-xl-10 col-lg-12 productpage-section-contents-body docs" style="z-index: 5;">
      <!--docs start-->

      {{ content | safe}}

      <!--docs end-->
    </div>
  </div>
</div>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.js"></script>
<script>
tocbot.init({
// Where to render the table of contents.
tocSelector: '.toc',
// Where to grab the headings to build the table of contents.
contentSelector: '.docs',
// Which headings to grab inside of the contentSelector element.
headingSelector: 'h1, h2',
// For headings inside relative or absolute positioned containers within content.
hasInnerContainers: true,
orderedList: false
});

var tooltipTriggerList = []
.slice
.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
return new bootstrap.Tooltip(tooltipTriggerEl)
})

document.addEventListener("DOMContentLoaded", function () {
var myOffcanvas = document.getElementById('offcanvasExample');
var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
document
  .getElementById("sidebar-button")
  .addEventListener('click', function (e) {
    e.preventDefault();
    e.stopPropagation();
    bsOffcanvas.toggle();
  });
});
</script>