<div class="mt-4 shop-header d-flex flex-wrap align-items-center justify-content-start" style="gap: 1rem;">
    <div class="d-flex align-items-center justify-content-center">
        <img style="width: 4rem;" class="me-3" src="/assets/images/logo.png" alt="">
        <button onclick="location.href='/{{pageType | slugify}}'">
            <h1 class="shop-header-title">Landie's {{pageType | safe}}</h1>
        </button>
    </div>
    <div class="header-links">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/blog">Blog</a>
    </div>
    <a href="https://twitch.tv/Landie" target="_blank" rel="noopener noreferrer" style="display: none"
          class="live-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-twitch me-2"
            viewBox="0 0 16 16">
            <path
              d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
            <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
        </svg>
        <h4>Live on Twitch!</h4>
    </a>
</div>
<script src="/assets/js/shop-live-indicator.js"></script>