<div class="shop-filter text-center">
    <input class="shop-search" style="float: right;" type="search" placeholder="Search for product...">
    <h5 class="ms-2">Filter by:</h5>
    <div class="label-list-filter ms-1">
        <button class="label-free">Free</button>
        <button class="label-tool">Utility</button>
        <button class="label-gaming">Gaming</button>
        <button class="label-audio">Audio</button>
    </div>
</div>