<nav class="col-xl-2 col-lg-12 site-shop-sidebar">
    <div class="sidebar-item sidebar-item-active">
        <img src="/assets/sammi_ico.png" alt="" width="50" height="50" class="me-5">
        <p>SAMMI Extensions</p>
    </div>
    <div class="sidebar-item">
        <img src="https://img.icons8.com/material-outlined/50/000000/obs-studio.png" style="filter: invert(100%);"
              class="me-5"/>
        <p>OBS Themes</p>
    </div>
</nav>