---json
{
  "layout": "base.njk"
}
---
<p class="position-absolute" style="bottom: -10px; right: 10px;">I'm sorry, im new to making websites so some things
    may look off!</p>
<!--offcanvas-->
<div class="offcanvas offcanvas-start m-sm-0 m-md-4"
    style="backdrop-filter: blur(0.5rem); border-radius: 1rem; background-color: rgba(255, 255, 255, 0.629); border: solid rgba(255, 255, 255, 0.384) 5px;"
    tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
        test... :3c
      </div>
  </div>
</div>
<!--bg effects and decals-->
<div class="floaties">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="inner-outline"></div>

<!--sidebar canvas button, not in use atm-->
<div class="sidebar-button">
  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
      id="sidebar" class="button d-flex justify-content-center align-items-center"
      style="z-index: 10; border-radius: 10rem; width: 4rem; height: 4rem; background-color: rgba(255, 255, 255, 0.265); transform: translate(10px, 10px);">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-list"
        viewBox="0 0 16 16">
      <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </button>
</div>
<div class="site-shop">
  <div class="container-fluid site-shop-inner-content">
    <!--Shop Header-->
    <div class="shop-header row d-flex align-items-center justify-content-center">
      <div class="col-xl-3 col-lg-12 d-flex align-items-center justify-content-center">
        <img style="width: 4rem;" class="me-3" src="../logo.png" alt="">
        <h1 class="shop-header-title">Landie's Shop</h1>
      </div>
      <nav class="col-xl-9 col-lg-12 shop-header-nav mt-2 justify-content-center align-items-center text-center">
        <a href="../index.html">Home</a>
      </nav>
      <a href="https://twitch.tv/Landie" target="_blank" rel="noopener noreferrer" style="display: none"
          class="col-xl-3 col-lg-12 live-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-twitch me-2"
            viewBox="0 0 16 16">
          <path
              d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
          <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
        </svg>
        <h4>Live on Twitch!</h4>
      </a>
    </div>
    <!--Shop Header End-->
    <div class="row site-shop-main">
      <nav class="col-xl-2 col-lg-12 site-shop-sidebar">
        <div class="sidebar-item sidebar-item-active">
          <img src="../sammi_ico.png" alt="" width="50" height="50" class="me-5">
          <p>SAMMI Extensions</p>
        </div>
        <div class="sidebar-item">
          <img src="https://img.icons8.com/material-outlined/50/000000/obs-studio.png" style="filter: invert(100%);"
              class="me-5"/>
          <p>OBS Themes</p>
        </div>
      </nav>
      <div class="col-xl-10 col-lg-12 {{ extraShopPageClasses }}">
        {{ content | safe }}
      </div>
    </div>

  </div>
</div>
<!--cards-->
<div class="content-blur-bg">
  <div class="card-bounds">
    <div class="popup-slide border">
      <section class="popup-slide-header">
        <button style="position: absolute; left: 20px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="white"
              class="bi bi-x-square card-close" viewBox="0 0 16 16">
            <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
        <h1>Who am I?</h1>
      </section>
      <section class="popup-slide-body container-fluid border">
        <p>woah</p>
      </section>
    </div>
  </div>
</div>
<script src="../shop.js"></script>
<script src="../shop-live-indicator.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.min.js"></script>
<script>
  //easily change info in the .json!
  fillData();
  async function fillData() {
    const resp = await fetch('./landitube_info.json');
    const data = await resp.json();
    console.log(data);

    const itchProduct = data
      .name
      .toLowerCase()
      .replace(' ', '-');
    console.log(itchProduct);
    Itch.attachBuyButton(document.querySelector(".download-button"), {
      // replace the following with the correct information about your game
      user: "landie",
      game: `sammi-${itchProduct}`
    });

    document
      .querySelector('.site-title')
      .textContent = `${data.name} ~ Landie`;
    document
      .querySelector('.product-version')
      .textContent = `Current Version: ${data.version}`;
    document
      .querySelector('.product-name')
      .textContent = data.name;
    document
      .querySelector('.product-summary')
      .textContent = data.summary;
    document
      .querySelector('.product-price')
      .textContent = data.price;
    document
      .querySelector('.product-image')
      .src = data.image;

  }

  function removeHash() {
    history.pushState("", document.title, window.location.pathname + window.location.search);
  }
  window.addEventListener('hashchange', (e) => {
    goToLink();
    console.log(e)
  });
  setTimeout(goToLink, 5);

  function goToLink() {
    const target = window.location.hash;
    switch (target) {
      case '':
        //nothing, just not default case.
        break;
      case '#overview':
        document
          .querySelector("#overview-tab")
          .click();
        break;
      case '#setup':
        document
          .querySelector("#setup-tab")
          .click();
        break;
      case '#documentation':
        console.log("workie")
        document
          .querySelector("#documentation-tab")
          .click();
        break;
      case '#tutorials':
        console.log("workie")
        document
          .querySelector("#tutorials-tab")
          .click();
        break;
      case '#troubleshooting':
        document
          .querySelector("#troubleshooting-tab")
          .click();
        break;
      case '#patchnotes':
        document
          .querySelector("#patchnotes-tab")
          .click();
        break;
      default:
    }
    document
      .querySelector('.productpage-section-contents')
      .scroll(0, 0); //fixes scrolling issue when clicking on tabs
  }

  var triggerTabList = []
    .slice
    .call(document.querySelectorAll('#myTab button'))
  console.log(triggerTabList)
  triggerTabList.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault()
      event.stopImmediatePropagation();
      document
        .querySelector('.productpage-section-contents')
        .scroll(0, 0); //fixes scrolling issue when clicking on tabs
      tabTrigger.show()
    })
  })

  //* show modal

  // window.onload = () => {
  //      document.querySelector('#exampleModal').modal('show')
  //     const myModal = new bootstrap.Modal('#exampleModal', {
  //         keyboard: false,
  //         show: true
  //     })
  //     myModal.show();

  // }

  var tooltipTriggerList = []
    .slice
    .call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>