<a class="link-clear" href="{{params.link}}" target="_blank" rel="noopener noreferrer">
    <button class="main-link quick-link m-2"
              style="background: linear-gradient(to top, {{params.bottomColor}}, {{params.topColor}});">
        {{params.svg | safe}}
    </button>
</a>