---json
{
  "layout": "shop-page.njk"
}
---
<div class="my-5 text-center shop-category-header d-none">
            <img src="../sammi_ico.png" alt="" width="64" height="64" class="me-2">
            <div class="text-wrapper">
              <h1 class="shop-category-header-title">SAMMI EXTENSIONS</h1>
            </div>
          </div>
          <div class="shop-filter text-center">
            <input class="shop-search" style="float: right;" type="search" placeholder="Search for product...">
            <h5 class="ms-2">Filter by:</h5>
            <div class="label-list-filter ms-1">
              <button class="label-free">Free</button>
              <button class="label-tool">Utility</button>
              <button class="label-gaming">Gaming</button>
              <button class="label-audio">Audio</button>
              <button class="label-obs-widget">OBS Widget</button>
              <button class="label-voice">Voice</button>
              <button class="label-beta">Beta</button>
            </div>
          </div>
          <div class="shop-section-contents p-3">
            <!--Sando-->
            <button type="button" onclick="location.href='./sammi-extensions/sando.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-sando"
              data-shop-item-name="Sando">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>Sando</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>A Library to make extension developer's lives easier!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--LandiTube-->
            <button type="button" onclick="location.href='./sammi-extensions/landitube.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-landitube"
              data-shop-item-name="LandiTube BETA">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
                <li class="label-obs-widget">OBS Widget</li>
                <li class="label-voice">Voice</li>
                <li class="label-beta">Beta</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>LandiTube BETA</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Advanced PNGTuber engine powered by SAMMI!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--foobar2000 Control-->
            <button type="button" onclick="location.href='./sammi-extensions/foobar2000-control.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-foobar2000control"
              data-shop-item-name="foobar2000 Control">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
                <li class="label-audio">Audio</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>foobar2000 Control</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Allows SAMMI to interface with foobar2000</p>
                  </div>
                </div>
              </div>
            </button>
            <!--Gamepad Triggers-->
            <button type="button" onclick="location.href='./sammi-extensions/gamepad-triggers.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-gamepadtriggers"
              data-shop-item-name="Gamepad Triggers">
              <ul class="label-list">
                <li class="label-price">$4</li>
                <li class="label-tool">Utility</li>
                <li class="label-gaming">Gaming</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>Gamepad Triggers</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Control SAMMI with your Gamepad!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--Folder Reader-->
            <button type="button" onclick="location.href='./sammi-extensions/folder-reader.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-folderreader"
              data-shop-item-name="Folder Reader">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>Folder Reader</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Read Files and Folders from a directory with filters using SAMMI</p>
                  </div>
                </div>
              </div>
            </button>
            <!--File Downloader-->
            <button type="button" onclick="location.href='./sammi-extensions/file-downloader.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-filedownloader"
              data-shop-item-name="File Downloader">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>File Downloader</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Download Files through SAMMI!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--Easy Emotes-->
            <button type="button" onclick="location.href='./sammi-extensions/easy-emotes.html'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item item-easyemotes"
              data-shop-item-name="Easy Emotes">
              <ul class="label-list">
                <li class="label-free">Free</li>
                <li class="label-tool">Utility</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>Easy Emotes</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Easily display TTV, FFZ, BTTV, and 7TV Emotes in an Image Source! Animated supported!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--

              ***************************************************************************************************
              **   Well well well. looks like we have a snooper. Keep this a secret between you and me, okay?  **
              **                                                                                               **
              ***************************************************************************************************


            -->
            <!--Voice Recognition-->
            <button type="button" onclick="alert('Coming Soon!')" data-tilt data-tilt-max="10" data-tilt-scale="1.05"
              class="shop-item item-what" data-shop-item-name="Voice Recognition">
              <ul class="label-list">
                <li class="label-free">Free</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>???</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Coming Soon!</p>
                  </div>
                </div>
              </div>
            </button>
            <!--Pixel Perfect-->
            <button type="button" onclick="alert('Coming Soon!')" data-tilt data-tilt-max="10" data-tilt-scale="1.05"
              class="shop-item item-what" data-shop-item-name="Pixel Perfect">
              <ul class="label-list">
                <li class="label-free">Free</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>???</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Coming Soon!</p>
                  </div>
                </div>
              </div>
            </button>
            
            <!--Steam Achievements-->
            <button type="button" onclick="alert('Coming Soon!')" data-tilt data-tilt-max="10" data-tilt-scale="1.05"
              class="shop-item item-what" data-shop-item-name="Steam Achievements">
              <ul class="label-list">
                <li class="label-free">Free</li>
              </ul>
              <div class="shop-item-overlay">
                <div class="shop-item-bounds container">
                  <div class="row shop-item-header">
                    <h1>???</h1>
                  </div>
                  <div class="shop-item-body">
                    <p>Coming Soon!</p>
                  </div>
                </div>
              </div>
            </button>
          </div>