---json
{
  "layout": "shop-page.njk",
  "title": "SAMMI Extensions"
}
---
<div class="shop-filter text-center">
  <input class="shop-search" style="float: right;" type="search" placeholder="Search for product...">
  <h5 class="ms-2">Filter by:</h5>
  <div class="label-list-filter ms-1">
    <button class="label-free">Free</button>
    <button class="label-utility">Utility</button>
    <button class="label-gaming">Gaming</button>
    <button class="label-audio">Audio</button>
    <button class="label-obs-widget">OBS Widget</button>
    <button class="label-voice">Voice</button>
    <button class="label-beta">Beta</button>
  </div>
</div>
<div class="shop-section-contents p-3">
  {%- for extension in collections.sammiExtension.reverse() -%}
    <!--{{extension.data.title}}-->
    {% if extension.data.hidden != true %}
    <button type="button" onclick="location.href='{{ extension.url }}'" data-tilt
              data-tilt-max="10" data-tilt-scale="1.05" class="shop-item" style="background-image: url({{ extension.data.image }}); background-size: contain;"
              data-shop-item-name="{{extension.data.title}}">
      <ul class="label-list">
        {% for label in extension.data.shopLabels %}
          {% set hyphenatedLabel = label | replace(" ", "-") | lower %}
          <li class="label-{{ hyphenatedLabel }}">{{ label }}</li>
        {% endfor %}
      </ul>
      <div class="shop-item-overlay">
        <div class="shop-item-bounds container">
          <div class="row shop-item-header">
            <h1>{{extension.data.title}}</h1>
          </div>
          <div class="shop-item-body">
            <p>{{extension.data.description}}</p>
          </div>
        </div>
      </div>
    </button>
    {%endif%}
  {%- endfor -%}
</div>
<script src="/assets/js/shop.js"></script>