---
layout: fullheight.njk
pageType: Blog
Title: Blog
---
<div class="blog-posts-recent d-flex flex-wrap flex-row">
    <h2>Recent Posts</h2>
    <div class="blog-post-card">

        <div class="row" style="background-color: red; height: 100%;">
            <div class="col">
                <div class="d-flex flex-wrap align-items-center" style="gap: 1rem;">
                    <h3>My First Blog</h3>
                    <p style="margin: 0; margin-top: 10px;">Sept. 9th 2023</p>
                </div>
                this is a test asdsapdjaspdjaspdjsapdoj sadoj aspdojsajpdsjopd as jodjo podajpdjo asppoasjo ds jodpoadjo apsj odpsajdasopjd aps jdpj
            </div>
            <div class="col">
                a
            </div>
        </div>
    </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>
    <div class="blog-post-card">
            best test ever
        </div>

</div>