<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redebut ~ Landie</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
        <link rel="manifest" href="/assets/site.webmanifest">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Countdown Timer</title>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
            </head>
            <body>
                <style>
                    a {
                        color: white;
                        font-size: 2rem;
                    }
                    * {
                        font-family: "Nunito", sans-serif;
                        font-weight: 800;
                    }
                    div {
                        color: white;
                    }
                    body {
                        background-color: black;
                        overflow-x: hidden;
                        overflow-y: scroll;
                    }
                    p {
                        font-size: 2rem;
                    }
                    .wrapper {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        gap: 1rem;
                    }
                    #countdown {
                        font-size: 4rem;
                    }

                    @media only screen and (max-width: 768px) {
                        a {
                            font-size: 1rem;
                        }
                        p {
                        font-size: 1rem;
                    }
                    #countdown {
                        font-size: 2rem;
                    }
                    img {
                        width: 5rem;
                    }
                    }
                </style>
                <div class="wrapper">
                    <img src="/assets/images/logo.png" alt="">
                    <div id="countdown"></div>
                    <p id="countdownDate"></p>
                    <a href="https://twitch.tv/landie">Twitch</a>
                </div>
                <script>
                    // Set the date you want to count down to
                    const countDownDate = 1705514400 * 1000;
                    
                    const nowDate = new Date(countDownDate)
                    document.getElementById("countdownDate").innerHTML = `${nowDate.toLocaleDateString()} ${nowDate.toLocaleTimeString()}`

                    timer();
                    const x = setInterval(function () {
                        timer();
                    }, 500);
                    function timer() {
                        const now = new Date().getTime();

                        const distance = countDownDate - now;

                        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        let countdownDisplay = ""

                        if (days > 0) 
                            countdownDisplay += `${days} Days, `
                        if (hours > 0) 
                            countdownDisplay += `${hours} Hours, `
                        if (minutes > 0) 
                            countdownDisplay += `${minutes} Minutes, `
                        if (seconds > 0) 
                            countdownDisplay += `${seconds} Seconds. `

                        document
                            .getElementById("countdown")
                            .innerHTML = countdownDisplay;

                        // If the countdown is over, display a message
                        if (distance < 0) {
                            clearInterval(x);
                            document
                                .getElementById("countdown")
                                .innerHTML = "LIVE!";
                        }
                    }
                </script>
            </body>
        </html>

    </body>
</html>