---json
{
  "layout": "base.njk",
  "title": "Shop",
  "description": "SAMMI Extensions, OBS Themes, and more, for you!",
  "image": "/logo%20bridge.png",
  "imageAlt": "Landie Logo"
}
---
<a href="/shop/sammi-extensions">WIP! Please follow this link to head over to the products!</a>