---json
{
  "layout": "base.njk",
  "title": "Shop",
  "description": "SAMMI Extensions, OBS Themes, and more, for you!",
  "image": "/logo%20bridge.png",
  "imageAlt": "Landie Logo",
  "headAddons": "<meta http-equiv=\"Refresh\" content=\"0; url=./sammi-extensions\" />"
}
---
<a href="/sammi-extensions">WIP! Please follow this link to head over to the products!</a>